.banner {
  background: url(../images/banner.jpg) center no-repeat;
  box-shadow: inset 0px -40px 80px -8px rgba(0, 0, 0, 0.781);
  background-size: cover;
  color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  height: 500px;
  width: 100%;
}
.banner > h2{
    font-size: 52px;
    font-weight: 700;
}
.banner > p{
    font-size: 22px;
}
.banner > .btn {
    margin-top: 1%;
  color: var(--color-blanco);
}
.banner > .btn:hover {
  color: var(--color-negro);
}

@media only screen and (max-width: 360px) {
  .banner{
    height: 250px;
  }
  .banner > h2{
    font-size: 2vh;
  }
  .banner > .btn{
    height: 20px;
    width: 40%;
  }
}