.btn {
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  height: 2.5rem;
  align-items: center;
  font-weight: bold;
  background-color: transparent;
}

.btn > p {
  position: absolute;
  font-weight: bold;
  font-size: 15px;
}

.primero {
  border: 2px solid rgb(42, 189, 238);
  color: rgb(15, 16, 36);
}
.primero:hover {
  background-color: lightblue;
}

.segundo {
  border: 2px solid lightgreen;
  color: rgb(15, 16, 36);
}
.segundo:hover {
  background-color: lightgreen;
}

.tercero {
  border: 2px solid lightcoral;
}
.tercero:hover {
  background-color: lightcoral;
}

.primero:active,
.segundo:active,
.tercero:active {
  transition: none;
  background: rgba(255, 255, 255, 0.685);
}
