@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
    --color-gris: #00000070;
    --color-azul: #2A7AE4;
    --input-fondo-uno: #ffffff;
    --color-fondo-uno: #E5E5E5;
    --color-fondo-dos: #EAF2FD;
}

*{
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    display: inline-block;
    margin: 0px;
    font-weight: normal;
}
.contenedor{
    background-color: var(--color-fondo-uno);
}

main{
    background-color: var(--color-fondo-uno);
}