.galeria-productos{
    margin: 2rem 0px;
}
.categoria{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    width: 85%;
}
.ver-todo{
    text-transform: capitalize;
}

.ver-todo{
    display: flex;
    cursor: pointer;
    flex-direction: row;
    font-weight: bold;
}
.ver-todo a{
    color: var(--color-azul);
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
}
.titulo-categoria{
    color: var(--color-negro);
    font-size: 32px;
    font-weight: bold   ;
}

.galeria{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%; 
    margin: 0px auto;
}
.producto{
    width: 172px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.imagen-producto{
    width: 172px;
    height: 174px;
}
.imagen-producto img{
    transition: .5s;
    border-radius: 1rem;
}
.imagen-producto img:hover{
    box-shadow: 2px 2px 20px var(--color-azul);
    filter: blur(0px) saturate(1);
}
.info-producto{
    padding: 1rem 2px;
    text-transform: capitalize;
}
.nombre-producto, .info-producto p{
    margin-bottom: 5px;
}
.info-producto > p{
    color: var(--color-negro);
    font-weight: bold;
}
.info-producto > p::before{
    content: "$ ";
}
.info-producto a{
    color: var(--color-azul);
    text-decoration: none;
    font-weight: bold;
}
.precio-producto{}