.galeria-productos{
    padding: 2rem 0px;
}
.categoria{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    width: 85%;
}
.ver-todo{
    text-transform: capitalize;
}

.ver-todo{
    display: flex;
    cursor: pointer;
    flex-direction: row;
    font-weight: bold;
}
.ver-todo a{
    color: var(--color-azul);
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
}
.titulo-categoria{
    color: var(--color-negro);
    font-size: 32px;
    font-weight: bold   ;
}

.galeria{
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 1.4rem;
    flex-wrap: wrap;
    width: 85%;
    margin: 0px auto;
}
.producto{
    background-color: var(--color-blanco);
    backdrop-filter: blur(5px);
    position: relative;
    width: 172px;
    height: 260px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow-y: hidden;
    transition: .3s;
}
.producto:hover{
    box-shadow: 3px 5px 15px rgba(6, 171, 226, 0.87);
}
.imagen-producto{
    width: 172px;
    height: 174px;
}
.imagen-producto img{
    height: 100%;
    width: 100%;
    cursor: default;
}

.info-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    padding: 1rem 5px;
    text-transform: capitalize;
}
.nombre-producto{
    max-width: 140px;
    overflow-wrap: break-word;
    text-align: center;
    margin-bottom: 5px;
}
.info-producto > p{
    color: var(--color-azul);
    font-weight: bold;
}
.info-producto > p::before{
    content: "$ ";
}
.info-producto a{
    color: var(--color-azul);
    text-decoration: none;
    font-weight: bold;
}
.precio-producto{}