.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 1rem 1rem;
    background-color: var(--color-fondo-dos);
}
.seccionUno{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0px 1rem;
}
.logo{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo img{
    cursor: pointer;
}
.logoTexto{
    font-size: 25px;
    color: var(--color-negro);
    cursor: pointer;
    font-weight: bolder;
}
.logoTexto span{
    color: var(--color-azul);
}
.buscar{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 40%;
    padding: .5rem;
    outline: none;
    border: none;
    background: var(--input-fondo-uno);
    border-radius: 2rem;
}
.buscar input{
    border: none;
    outline: none;
    background: transparent;
    padding: 0px .5rem;
    height: 100%;
    width: 100%;
}
.buscar input::placeholder{
    color: #A2A2A2;
}
.buscar img{
    height: 100%;
    cursor: pointer;
    padding: 0px .5rem;
    transition: .2s;
}
.buscar img:active{
    transform: rotate(-10deg);
}

@media only screen and (max-width: 360px) {
    .menu{
        flex-direction: column;
        margin: auto;
        gap: 1rem;
        height: auto;
    }
    .seccionUno{
        width: 100%;
        flex-direction: row;
        margin: auto;
        align-items: center;
        gap: .5rem;
    }
    .buscar{
        width: 90%;
    }
    .buscar input{
        border: none;
        outline: none;
        background: transparent;
        padding: 0px .5rem;
        height: 100%;
        width: 100%;
    }
    .logo{
        margin: auto;
        height: 10px;
    }
    .logo > img{
        height: 2.5vh;
    }
    .logoTexto{
        font-size: 2.5vh;
    }
    .buscar{
        height: 2rem;
        font-size: .8rem;
    }
  }